#!/usr/bin/make -f

export DEB_HOST_MULTIARCH  ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
export DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
export DEB_HOST_GNU_CPU    ?= $(shell dpkg-architecture -qDEB_HOST_GNU_CPU)

%:
	dh $@

override_dh_install:
	# install library 
	dh_install "obj-${DEB_HOST_MULTIARCH}/koku-xinput-wine.so" "/usr/lib/${DEB_HOST_MULTIARCH}"

override_dh_link:
	dh_link "/usr/lib/${DEB_HOST_MULTIARCH}/koku-xinput-wine.so" "/usr/lib/koku-xinput-wine.so"
