#!/usr/bin/make -f

export DEB_HOST_MULTIARCH  ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
export DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
export DEB_HOST_GNU_CPU    ?= $(shell dpkg-architecture -qDEB_HOST_GNU_CPU)

%:
	dh $@

override_dh_install:
	# find and relocate the library to the main directory
	# Hacky, should find a better way once Cmake documentaiton is consulted more
	find . -name "koku-xinput-wine.so" -exec cp {} . \;
	# install library 
	dh_install "koku-xinput-wine.so" "/usr/lib/${DEB_HOST_MULTIARCH}"
